@import '~slick-carousel/slick/slick.css';
@import '~slick-carousel/slick/slick-theme.css';
@import 'base/_reset';
@import 'base/_fonts';
@import 'components/_jquery.formstyler';
@import 'components/_ion.rangeSlider.min';
@import 'components/_slick';
@import 'layout/_header';
@import 'layout/_footer';
@import 'layout/_content';
@import url('https://fonts.googleapis.com/css2?family=Mrs+Saint+Delafield&display=swap');
@import 'rc-slider/assets/index.css';
@import 'react-dropdown/style.css';

@font-face {
    font-family: DinBlack;
    src: url('../../public/assets/font/DIN\ NEXT™\ ARABIC\ BLACK.otf');
}

@font-face {
    font-family: DinBold;
    src: url('../../public/assets/font/DIN\ NEXT™\ ARABIC\ BOLD.otf');
}
@font-face {
    font-family: DinExtraBold;
    src: url('../../public/assets/font/DIN\ NEXT™\ ARABIC\ HEAVY.otf');
}
@font-face {
    font-family: DinLight;
    src: url('../../public/assets/font/DIN\ NEXT™\ ARABIC\ LIGHT.otf');
}
@font-face {
    font-family: DinMedium;
    src: url('../../public/assets/font/DIN\ NEXT™\ ARABIC\ MEDIUM\ .otf');
}

@font-face {
    font-family: DinRegular;
    src: url('../../public/assets/font/DIN\ NEXT™\ ARABIC\ REGULAR.otf');
}


@font-face {
    font-family: DinExtarLight;
    src: url('../../public/assets/font/DIN\ NEXT™\ ARABIC\ ULTRALIGHT.otf');
}


 body{
     overflow-x: hidden;
     
  
}
.ltr{
    direction: ltr;
  

}
.rtl .content{
    font-family: DinRegular;
    h4,h3,h2{
        font-family: DinRegular;
     }
     p{
         font-family: DinLight;
     }
}

.box-field .form-control{
font-family: DinLihgt;

}

.box-field .form-control::placeholder{
    font-family: DinRegular;
    color: #ccc;
}
.rtl{
    direction: rtl;
    font-family: DinRegular !important
     

}
.rtl .detail-block h1 {
    font-family: DinMedium;
    margin-bottom: 30px;
}
.rtl .bread-crumbs li a {
    font-family: DinLight;
}
.rtl .header-nav{
  
    margin: 10px;
    font-family: DinRegular;
   
  }

  .rtl .header-nav li a{
  
    font-size: 20px;
   
  }

  .rtl .main-block__content{
 
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;
      text-align: right;
      font-family: DinBold;
      p{
          width: 320px;
      }


  }

  .rtl .discount .wrapper{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    text-align: right;
    .main-text{
        font-family: DinRegular;
    }
     & .discount-info{
        display: flex;
       flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        text-align: right;
        span {
            font-family: DinRegular;
        }
        p{
            font-family: DinRegular;
        }
     }
    }
    .rtl .advantages-item__icon {
        font-family: DinBold;
    }
  
    .rtl form{
        padding-right: 10px;
        font-family: DinRegular;
    }
    .rtl .subscribe-form{
        text-align: right;
  
    }
    .rtl form p{
        text-align: right;
        color: #D7408A;
  
    }
.rtl .footer{
    margin-top: 40px;
}
    .rtl .footer-top__social{
        text-align: right;
        font-family: DinRegular;

    }
    .rtl .footer{
        text-align: right;
        font-family: DinRegular;

        .footer-nav__col-title{
            font-family: DinRegular;

        }

        a{
            font-family: DinRegular;

        }
    }

    .rtl .footer-nav__col ul li a:before {
        position: absolute;
        right: -10px;
        top: 50%;
        transform: translateY(-50%);
        content: "_";
        color: #bbb;
        font-size: 8px;
    }

    .rtl  .header-options li a {
         display: flex; 
         flex-direction: row-reverse;
         align-items: center; 
    }

 .rtl .phone{
     text-align: left;
     display: flex;
     justify-content: flex-end;
 }
 .rtl .discount .js-img{
background-position: top;
background-size: contain;

 }
 .rtl .discount-info p {
  
    color: #d7408a;
    
 }
 .rtl .main-block p{
     color: #222 !important;
     font-size: 30px;
     

 }

 .rtl .bread-crumbs li:after {
   content: "";
   
 }
 .rtl  .bread-crumbs:nth-child(2)::after {
    // position: absolute;
    // top: 79%;
    // transform: translate(-50%,50%);
    // left:49%;
    // content: "-";
    // color: #666666;
    
 }
 .rtl .product-info {
        text-align: right;
        
 }
 .rtl .icon-cart:before,
 .rtl .icon-heart:before {
    margin: 0px;
}
.rtl   .header-nav li ul {
    
text-align: right;
}


.rtl .cart{
    text-align: right;
    

    .box-field{
        display: flex;
        flex-direction: row-reverse;
    }

    h5,
.title5 {
  font-size: 20px;
  line-height: 100%;
  text-transform: capitalize;
  font-weight: 400;
  color: #222222;
  padding-right: 6px;
}
.cart-table__info-stock,
.cart-table__info-num  {
    padding-right: 4px;
}


.rtl  .counter-box,
.cart-table__quantity {

display: flex;
justify-content: center;
align-items: center;
margin-left: 10px;
flex-direction: row-reverse;

}

.cart-table__box{
text-align: center;

}
.cart-table__col{

}
.cart-card-rtl{
    text-align: right;

}
}

.rtl .trending{
    span,h2,ul li
    {
        font-family: DinRegular;
    
    }
    
} 
.rtl .products-item__types span{
    
}
.rtl .products-item__info {
    font-family: DinRegular;


    .products-item__name{
        
    }
}
.rtl .btn{
    // font-family: DinRegular;
    // font-family: DinMedium;
    font-family: DinLight;
}
.rtl .profile-orders__row{
    flex-direction: row-reverse;
    text-align: center;
}
.rtl .profile-aside__viewed{
    text-align: right;
}

@media screen and (max-width: 767px){
.rtl .header-content{
    flex-direction: row-reverse;
}}

.rtl .header-content.active {
    flex-direction: row-reverse;

    .header-options{
    
       
      li{
        text-align: right;
        margin-top: 10px;
      }  

    }
    .header-box.active{
        overflow: hidden;
    }
    .header-box.active .header-nav{
        text-align: right;
        margin-top: 60px;
        
    }
    .header-box.active {
        flex-wrap: wrap;
        .btn-menu{
            position: fixed;
            top: 78px;
        }
    }


}

.rtl .trending-top span{
    // font-family: 'Amiri', serif;
    font-family: DinLight;
    font-size: 20px;
}
.rtl .trending-top h2{

margin-top: 10px;
font-family: DinMedium;
}

.rtl .cart-table{
    text-align: right;
}

.rtl .nav-tab-list li {
    font-family: DinMedium;
    margin-top: 10px;}

.rtl .products-item__sale, .products-item__new {
font-family: DinReguler;
font-size: 17px;
font-weight: bold;


}
.rtl .products-item__name {
    font-family: DinLight;
    font-size: 30px;
}

.rtl .products-item__cost {
    font-family: DinExtraBold;
}
.rtl .profile,
.rtl .wishlist{
    

}
.rtl .wishlist{
    .icon-arrow-md:before {
      display: none;
    }
    .icon-arrow-md::before {
        display: flex;
        flex-direction:column-reverse;
        content: "←";
        font-size: 20px;
        color: #d05278;}

}
.rtl .counter-box{
   flex-direction: row-reverse;
   justify-content: right;

}

.rtl .contacts-info__social ul li:last-of-type {
    margin-right: 10px;
}
.rtl .cart-bottom__total .btn{
    font-size: 20px;
}
.rtl .checkout-content{
    text-align: right;
    .Dropdown-control{
        text-align: left;
    
}
   .icon-arrow::before{
     content: "";
   
}
.icon-info{
    margin-right: 10px;
}
}

.rtl .detail-block__item{
    text-align: right;
}